/* CSS for the recipe */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  background-color: #4CAF50;
  text-align: center;
  padding: 15px;
  color: white;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  flex: 1;
  background-color: #f9f9f9;
  padding: 15px;
}

.instructions {
  flex: 2;
  background-color: #f9f9f9;
  padding: 15px;
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
}

a:link,
a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #FFD700;
}

.nutrition-label {
  background-color: #ffffff; /* Change as needed */
  border: 1px solid #000000; /* Change border properties */
  padding: 15px;
  margin-top: 20px; /* Adjust as needed */
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table td {
  border: 1px solid #000000; /* Change border properties */
  padding: 8px;
}

.footnote {
  margin-top: 10px; /* Adjust as needed */
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}